{{>spec/licenseInfo}}
package {{package}}

{{#useSwaggerAnnotations}}import io.swagger.v3.oas.annotations.media.Schema
{{/useSwaggerAnnotations}}
{{#imports}}
import {{import}}
{{/imports}}
{{#useBeanValidation}}
import javax.validation.constraints._;
import javax.validation.Valid;
{{/useBeanValidation}}

{{#models}}
{{#model}}
{{#useSwaggerAnnotations}}@Schema(name = "{{name}}", title = "{{title}}", description = "{{description}}"{{#example}}, example = "{{example}}"{{/example}})
{{/useSwaggerAnnotations}}
case class {{classname}} (
  {{#vars}}
  {{#useBeanValidation}}
  {{>spec/beanValidation}}{{/useBeanValidation}}{{#description}}
  // {{{description}}}{{/description}}{{#useSwaggerAnnotations}}
  @{{>spec/schema}}{{/useSwaggerAnnotations}}
  {{{name}}}: {{^required}}Option[{{/required}}{{dataType}}{{^required}}] = None{{/required}}{{#hasMore}},{{/hasMore}}
  {{/vars}}
)

{{/model}}
{{/models}}
