{{#isQueryParam}}@Parameter(name = "{{{baseName}}}", in = ParameterIn.QUERY{{#required}},required=true{{/required}}, description = "{{{description}}}"{{^isContainer}}{{#allowableValues}}, {{> allowableValues }}{{/allowableValues}}{{#defaultValue}}, defaultValue={{^isString}}"{{/isString}}{{#isString}}{{#isEnum}}"{{/isEnum}}{{/isString}}{{{defaultValue}}}{{^isString}}"{{/isString}}{{#isString}}{{#isEnum}}"{{/isEnum}}{{/isString}}{{/defaultValue}}{{/isContainer}}){{^isContainer}}{{#defaultValue}} @DefaultValue({{^isString}}"{{/isString}}{{#isString}}{{#isEnum}}"{{/isEnum}}{{/isString}}{{{defaultValue}}}{{^isString}}"{{/isString}}{{#isString}}{{#isEnum}}"{{/isEnum}}{{/isString}}){{/defaultValue}}{{/isContainer}}
      @QueryParam("{{baseName}}") {{paramName}}: {{#isContainer}}Iterable[{{{baseType}}}]{{/isContainer}}{{^isContainer}}{{{dataType}}}{{/isContainer}}{{/isQueryParam}}