Schema(name = "{{name}}",{{#dataType}} `type` = "{{dataType}}"{{/dataType}}{{#format}}, format = "{{format}}"{{/format}}{{#allowableValues}}, {{> allowableValues }}{{/allowableValues}}{{#description}}, description = "{{description}}"{{/description}}{{#example}}, example="{{example}}"{{/example}}{{enum}})